* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
}

.form-wrapper {
    background-image: url(../assets/background.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
}

.form {
    background-color: rgba(255, 255, 255, 0.519);
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.7rem;
    border-radius: 8px;
}

.error-msg {
    color: rgb(197, 0, 0);
}

#submitBtn {
    background-color: red;
    border: none;
    padding: 0.7rem;
    color: yellow;
    border-radius: 8px;
}

.high-score {
    display: none;
}